@()

@main("Hello World") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>
      <h2>Implementing Hello World</h2>
      <p>CustomPage</p>
      <p> To see how simple it is to work with Play, let's add a customized "Hello World" greeting to this tutorial
        app. The main steps include:</p>
      <ul>
        <li><a href="#create">Create a new page</a></li>
        <li><a href="#action">Add an action method</a></li>
        <li><a href="#route">Define a route</a></li>
        <li><a href="#customize">Customize the greeting</a></li>
      </ul>

      <h3 id="create">This is Hello World page</h3>
      <p>Follow these instructions to add a new page:</p>

    </article>
    <aside>
      @commonSidebar()
    </aside>
  </div>
</section>
}
}